<h1>Welcome to Rainforest</h1>
<% if @products.count == 0%>
<h2> There is no products</h2>
<% else %>
<h2> There are <%= @products.count %></h2>
<% end %>

<div class="product">


<% @products.each do |product|%>
<p class = 'product-name'><%= product.name %></p>

<p class='price'><%="$#{product.price_in_cents/100.00}"%></p>

<p class='product-description'><%= product.description%> </p>

<p class='product-img'> <%= link_to image_tag(product.product_url),product %> </p>
<% end %>
</div>
