<p class = 'login'> <%= link_to 'Login', new_session_path %> | <%= link_to 'Sign up', new_user_path %></p>
<h1>Welcome to Rainforest</h1>
<% if @products.count == 0%>
<h2> There is no products</h2>
<% else %>
<h2> There are <%= @products.count %> products</h2>
<% end %>

<div class="product">


<% @products.each do |product|%>
<p class = 'product-name'><%= product.name %></p>

<p class='price'><%="$#{product.formatted_price}"%></p> <br>

<p class='product-description'><%= product.description%> </p>

<p> <%= link_to image_tag(product.product_img_url,class:'product-img'), product %> </p>
<% end %>
</div>
